/*heading*/
.heading {
    display: flex;
    background-color: #eebfc9;
    justify-content: space-around;



}

.intro {
    padding: 200px;
}

.head {
    font-size: 50px;
    font-weight: 100%;
    color: #272727;

}

.para {
    color: rgba(39, 39, 39, 0.60);
}

.btn-shop {
    background-color: rgb(227, 106, 122);
    padding: 10px 30px;
    color: aliceblue;
    border-radius: 5px;
    border: none;
}

.intro-img {
    width: 630px;
    height: 800px;
    flex-shrink: 0;
    padding-bottom: 0px;
}

/*section*/
/*bonus*/
.bonus {
    padding: 50px 150px;



}

.bonus-head {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.bonus-para {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.bonus-pic {
    display: flex;
    gap: 20px;
    padding-left: 100px;
    padding-bottom: 50px;
}

.bonus1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.bonus2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.bonus3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.bonus-line {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/*reg*/
.registration-form {
	background-image: url('flower-shop-assignment/Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px  0px 20px 0px ;
    
}
.head-reg{
	font-size: 30px;
	text-align: center;
	text-transform: upercase;
    padding: 30px;
	margin: 20px 30px;
    color: #923131;
}
	
	
.btn-reg{
    background-color: rgb(198, 36, 57);
    padding: 10px 30px;
    color: aliceblue;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Registration{
    display: block;
    text-align: center;
    

}
.reg{
    width: 30%;
    padding: 10px;
    background: #FFF;
    border-color: #fcfafb;
    box-shadow: none;
}








/*deal*/

.hot-deal {
    display: flex;
    justify-content: space-around;
    background-color: #eebfc9;
    margin-top: 100px;

}

.hot-text {
    text-align: center;
    padding: 200px;
}

.hot-head {
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}

.off {
    color: brown;
}

.hot-para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}

.btn-sign {
    background-color: rgb(198, 36, 57);
    padding: 10px 30px;
    color: aliceblue;
    border-radius: 5px;
    border: none;
}

.photo {
    width: 318px;
    height: 420px;
    padding: 100px 300px;
}

/*instagram*/
.Instagram {
    padding: 100px 250px;

}

.head-insta {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.para-insta {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.insta-photo {

    width: 342px;
    height: 396px;
    display: flex;
    gap: 20px;
}

/*latest deals*/

.deal {

    background-image: url('flower-shop-assignment/Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px 250px;
    width: 1440px;
    height: 449px;

}

.deal-head {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 100px;
    padding-bottom: 0px;
}

.deal-para {

    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-top: 0px;

}

.email-sec {

    text-align: center;
    margin-top: 20px;


}

.btn-sub {
    background-color: rgb(198, 36, 57);
    padding: 10px 30px;
    color: aliceblue;
    border-radius: 5px;
    border: none;
    margin-left: 10px;

}

.input {
    width: 50%;
    padding: 10px;
    background: #FFF;
    border-color: #fcfafb;
    box-shadow: none;
}



/*footer*/
.foot {
    background-color: black;
    padding: 20px 10px;
    margin-top: 50px;
}

.foot-head {
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

.shop {
    color: #fcfafb;

}

.foot-para {

    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.footer {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}